html,
body {
    overflow: hidden;
    margin: 0;
}
canvas#background,
canvas#scene,
canvas#foreground,
main {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    word-break: break-word;
    user-select: none;
    touch-action: none;
    image-rendering: pixelated;
}
canvas#minimap {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 200px;
    pointer-events: none;
}
canvas#follow {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 200px;
}
[hidden] {
    display: none;
}
[onclick] {
    cursor: pointer;
}
.grabbing {
    cursor: grabbing;
}
.erasing {
    cursor: not-allowed;
}
label {
    display: block;
}
meter {
    width: 100%;
}
